@tailwind base;
@tailwind components;
@tailwind utilities;

:root, :before, :after, * {
    --vf-primary: #d40018;
    --vf-primary-darker: #d40018;
    --vf-success: #d40018;
    --vf-ring-color: #d40018;
}

*:focus {
    outline: none;
    box-shadow: none;
  }


